/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: 'gothic'; /*a name to be used later*/
    src: url('../font/gothic.TTF'); /*URL to font*/
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#53DCDF;*/
    background-color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
/*    font-size:12px;*/
/*    text-transform:uppercase;*/}


.app{
    /*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;                    
/*    text-align:center;*/
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px; 
    /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.content{
    width: 100%;
    height: 82%;
    background-color: white;
	position:absolute;
	top:9%;

}

.pageone{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0%;
    display: inline-block;
    position: absolute;
    z-index: 3;
/*    position: absolute;*/
    
    -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform 400ms ease;
        -moz-transition: transform 400ms ease;
        transition: transform 400ms ease;
}


.wrapper{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0%;
    overflow:auto;
}

.scrollul{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;

}
 
.scrollli {
        padding:0 10px;
        
        height:auto;
        border-bottom:1px solid #ccc;
        border-top:1px solid #fff;
    /*    background-color:#fafafa;*/
    /*    font-size:2.4vw;*/
        border-bottom: 1px dotted #333;  
        outline: none;
        
    }

.scrollli:hover {
    background-color: white;
}

.scroll-content {
    position:absolute; 
    z-index:1;
    width:100%;
    height: 100%;
    padding:0;
    background-color: transparent;
    outline: none;
    
}

.middle{
    top: 0px;
    width: 100%;
    height: 45%;
    background-color: forestgreen;
    position: absolute;

}

.btnCamera{
    position: absolute;
    top: 5%;
    height: 26%;
    width: 22%;
    left: 40%;
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

.blueCamera {
    height: 100%;
    width: 100%;    
}

.NameTextBox{
    position: absolute;
    width: 98%;
    height: auto;
    left: 0px;
    top: 35%;
    border-top-color: transparent; 
    border-left-color: transparent; 
    border-right-color: transparent;
    background-color: transparent;
    border-bottom-width: thin;
    border-bottom-color: aqua;
    font-size: 5vw;
    font-family: "gothic";
    color: white;
    text-align: center;
}

.DescriptionTextBox{
    position: absolute;
    width: 98%;
    height: auto;
    left: 0px;
    top: 55%;
    border-top-color: transparent; 
    border-left-color: transparent; 
    border-right-color: transparent;
    background-color: transparent;
    border-bottom-width: thin;
    border-bottom-color: white;
    font-size: 4vw;
    font-family: "gothic";
    color: white;
    text-align: center;
}


.inputtext1{
    position: absolute;
    top: 48%;
    left: 3%;
    
}

.geolocationDiv{
    position: absolute;
    top: 20%;
    left: 0px;
    width: 100%;
    height: 10%;
}

.controls{
  top: 52%;
  left: 0px;
  width: 10%;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}


#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 60%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#map{
    position: absolute;
    left: 0px;
    top:57%;
    width: 100%;
    height: 60%;
}



