/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: 'gothic'; /*a name to be used later*/
    src: url('../font/gothic.TTF'); /*URL to font*/
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#53DCDF;*/
    background-color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
/*    font-size:12px;*/
/*    text-transform:uppercase;*/}


.app{
    /*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;                    
/*    text-align:center;*/
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.MenuBtn{
    position: absolute;
    left: 0px;
    border: none;
    background-color: transparent;
    height: 80%;
    width: auto;
    top: 10%;
    outline: none;
}

.ImageMenu{
    height: 50%;
    width: auto;
    outline: none;
}

.content{
    width: 100%;
    height: 82%;
    background-color: white;
	position:absolute;
	top:9%;
}

.pageone{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0%;
    display: inline-block;
    position: absolute;
    z-index: 3;
/*    position: absolute;*/
    
    -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform 400ms ease;
        -moz-transition: transform 400ms ease;
        transition: transform 400ms ease;
}


.wrapper{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0%;
    overflow:auto;
}

.scrollul{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;

}
 
.scrollli {
        padding:0 10px;
        height:auto;
        border-bottom:1px solid #ccc;
        border-top:1px solid #fff;
    /*    background-color:#fafafa;*/
    /*    font-size:2.4vw;*/
        border-bottom: 1px dotted #333;  
        outline: none;
        
    }

.scrollli:hover {
    background-color: white;
}

.scroll-content {
    position:absolute; 
    z-index:1;
    width:100%;
    padding:0;
    background-color: transparent;
    outline: none;
}

.activityDiv{
    position: relative;
}

.actImage{
    height: 80vw;
    width: 100%;
    
}
.actName{
    position: absolute;
    left: 3%;
    color: white;
    font-size: 4vw;
    font-family: "gothic";
    top: 20%;
}

.actDate{
    position: absolute;
    right: 3%;
    color: white;
    font-size: 4vw;
    font-family: "gothic";
    top: 20%;
}

.greenbar{
    position: absolute;
    background-color: forestgreen;
    width: 100%;
    height: 7%;
    top: 0px;
    margin-top: 0px;
    
}

.whitebar{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 10%;
    bottom: 0px;
    
}

.btnLocation{
    position: absolute;
    top: 10%;
    left:4%;
    width: 10%;
    height: 6vw;
    background-color: white;
    border: none;
    outline: none;
}

.imgLocation{
   height: 100%;
    width: 100%;
}

.distance{
    position: absolute;
    top: 28%;
    left: 15%;
    font-size: 4vw;
    font-family: "gothic";
}

.btnComment{
    
    position: absolute;
    height: 6vw;
    width: 10%;
    top: 10%;
    left: 50%;
    border: none;
    outline: none;
    background-color: transparent;
}

.imgComment{
height: 100%;
    width: 100%;
}

.numComment{
    position: absolute;
    top: 28%;
    left: 62%;
    font-size: 4vw;
    font-family: "gothic";
    
}

.btnLike{
    position: absolute;
    height: 6vw;
    width: 10%;
    top: 10%;
    right: 20%;
    background-color: white;
    border: none;
    outline: none;
}

.imgLike{
   height: 100%;
    width: 100%;
    
}

.numLike{
    
    position: absolute;
    top: 28%;
    right: 15%;
    font-size: 4vw;
    font-family: "gothic";
}

.inputComment{
    position: absolute;
    top: 4%;
    left: 2%;
    width: 70%;
    height: 5%;
    border-color: skyblue;
    border-top-color: skyblue;
    border-bottom-color: skyblue;
    outline: none;
    background-color: white;
}

.btnSend{
    position: absolute;
    top: 4%;
    width: 15%;
    height: 6%;
    right: 5%;
    color: white;
    background-color: darkorange;
    border: none;
    outline: none;
}
.MiddleComment{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    background-color: white;
}


.CMTcontent{
    width: 95%;
    height: 80%;
    background-color: white;
	position:absolute;
	top:20%;
    left: 3%;
}

.CMTpageone{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0%;
    display: inline-block;
    position: absolute;
    z-index: 3;
/*    position: absolute;*/
    
    -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform 400ms ease;
        -moz-transition: transform 400ms ease;
        transition: transform 400ms ease;
}


.CMTwrapper{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0%;
    overflow:auto;
}

.CMTscrollul{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;

}
 
.CMTscrollli {
        padding:0 10px;
        height:auto;
        border-bottom:1px solid #ccc;
        border-top:1px solid #fff;
    /*    background-color:#fafafa;*/
    /*    font-size:2.4vw;*/
        border-bottom: 1px dotted #333;  
        outline: none;
        
    }

.CMTscrollli:hover {
    background-color: white;
}

.CMTscroll-content {
    position:absolute; 
    z-index:1;
    width:100%;
    padding:0;
    background-color: transparent;
    outline: none;
}

.imgPhoto{
    border-radius: 50%;
    height: 8%;
    width: 16%;
    margin-top: 5%;
    left: 2%;

}

.commentDiv{
    position: relative;
}

.userName{
    left: 25%;
    font-size: 4.5vw;
    font-family: "gothic";
    top: 30%;
    position: absolute;
    font-weight: bolder;

}

.comment{
    left: 25%;
    font-size: 4vw;
    font-family: "gothic";
    top: 55%;
    position: absolute;
    color: grey;
    height: auto;
    max-width: 48vw;
    max-height: 12.8vw;
    line-height: 3.2vw;
    background: white;
    word-wrap: break-word;
    overflow: hidden;
}

.date{
    right: 3%;
    top: 45%;
    position: absolute;
    color: grey;
    font-family: "gothic";
    font-size: 4vw;
}

.time{
    right: 5%;
    top: 65%;
    position: absolute;
    color: grey;
    font-family: "gothic";
    font-size: 4vw;
    
}

.activityName{
    position: absolute;
    top: 12%;
    left: 3%;
    font-size: 4vw;
    font-family: "gothic";
    font-weight: bolder;
}

.activityAddress{
    position: absolute;
    top: 17%;
    left: 3%;
    font-size: 4.5vw;
    font-family: "gothic";
    
}

#map{
    position: absolute;
    left: 4%;
    width: 92%;
    height: 72%;
    top: 25%;
}

.category{
    
    position:absolute;
    top: 10vw;
    left: 3vw;
    height: 10vw;
    width: 10vw;
}

.btndelete{
    position: absolute;
    top: 20vw;
    left: 2vw;
    height: 10vw;
    width: 12vw;
    border: none;
    outline: none;
    background-color: transparent;
    display: none;
}

.delete{
    height: 100%;
    width: 100%;
}

.btnedit{
    position: absolute;
    top: 30vw;
    left: 2vw;
    height: 10vw;
    width: 12vw;
    border:none;
    outline: none;
    background-color: transparent;
    display: none;
}

.edit{
    height: 100%;
    width: 100%;
    
}